body{
  background-color: red;
}
h1,h2{
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  background-color: black;
  margin: 0;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}
